---
import Donation from "~/components/Donation.astro";
import Layout from "~/layouts/Layout.astro";

---
<Layout title="Donate" description="Support our work by making a donation.">
  <main class="container mx-auto px-4 py-12">
<Donation
  presetsOneTime={[]}
  presetsMonthly={[]}
/>

  </main>
</Layout>

